:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --primary-text-color-theme-dark: #FFFFFF;
    --primary-text-color-theme-light: #000000;
    --accent-color: #2196F3;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, 
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.link {
    text-decoration: none;    
}

.list {
    list-style: none;
}

.address {
    font-style: normal;
}

body {
    font-family: var(--primary-font-family);
    font-style: normal;
}
/* ==============COMPONENTS============== */
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.logo-link {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-right: 93px;
}
.accent {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-light)
}

.accent-dark {
    color: var(--primary-text-color-theme-dark);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.menu .menu-link.current {
    color: var(--accent-color);
}

.menu-link.current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
}
/* ==============/COMPONENTS============== */
/* ==============HEADER============== */
.header {
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}

.menu-item {
    position: relative;
}

.contacts {
    display: flex;
}

.mail {
    margin-right: 50px;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.contact-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

.contact-link:hover .contact-link-icon,
.contact-link:focus .contact-link-icon {
    fill: var(--accent-color);
}

.contact-link-icon {
    margin-right: 10px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ==============/HEADER============== */

/* ==============HERO============== */
.main-title {
    font-weight: 900;   
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}

.modal-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
    cursor: pointer;
    margin: 0 auto;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    padding: 10px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #188CE8;
}

.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/bg.jpg');
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
}
/* ==============/HERO============== */

/* =============OUR MISSION============== */
.rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.list-description {
    display: flex;
    justify-content: space-between;
}

.our-mission {
    padding-top: 94px;
    padding-bottom: 94px;
}

.title-description {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
    margin-bottom: 10px;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.description-mission {
    flex-basis: calc((100%-120px)/4);
}

.description-mission:not(:last-child) {
    margin-right: 30px;
}

/* ==============/OUR MISSION============== */

/* =============WHAT WE DO============== */
.section-img-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-dark);
    background-color: rgba(47, 48, 58, 0.8);
}

.section-photo-list {
    position: relative;
}

.whatwedo {
    padding-bottom: 94px;
}

.whatwedo-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-photo-list {
    flex-basis: calc((100% - 90px) / 3);
}
/* =============/WHAT WE DO============== */

/* =============OUR TEAM============== */
.soc-list {
    display: flex;
}

.soc-list-item:not(:last-child) {
    margin-right: 10px;
}

.soc-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-list-link:hover,
.soc-list-link:focus {
    background-color: var(--accent-color);
}

.soc-list-link:hover .soc-link-icon,
.soc-list-link:focus .soc-link-icon {
    fill: #FFFFFF;
}

.soc-link-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.employees {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.employees-card {
    flex-basis: calc((100% - 120px) / 4);
    margin-top: 30px;
    margin-left: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.employees-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.employees-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
}

.name-wrapper {
    background-color: var(--primary-text-color-theme-dark);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
}

.employees-name {
    margin-bottom: 10px;
}
/* =============/OUR TEAM============== */

/* =============OUR CLIENTS============== */
.our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #FFFFFF;
}

.clients-list {
    display: flex;
    justify-content: space-between;
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 5px;
    width: 170px;
    height: 92px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
    border-color: var(--accent-color);
}

.clients-link:hover .clients-link-icon,
.clients-link:focus .clients-link-icon {
    fill: var(--accent-color);
}

.clients-link-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* =============/OUR CLIENTS============== */

/* =============FOOTER============== */
.address {
    margin-top: 20px;
}

.contact-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.main-contact-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.join-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-left {
    margin-right: 70px;
}

.footer-wrapper {
    display: flex;
    align-items: baseline;
}

.soc-link-icon-dark {
    fill: #FFFFFF;
}

.soc-list-link-dark {
    background: rgba(255, 255, 255, 0.1);
}

.footer-form-wrapper {
    margin-left: 93px;
}

.email-footer-input {
    color: #FFFFFF;
    padding-left: 16px;
    background-color: transparent;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    margin-right: 12px;
}

.email-footer-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.join-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
    cursor: pointer;
    margin: 0 auto;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    padding: 10px 28px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-btn:hover,
.join-btn:focus {
    background-color: #188CE8;
}

.sent-icon {
    margin-left: 10px;
    fill: #FFFFFF;
}

.footer-form {
    display: flex;
}
/* =============/FOOTER============== */

 /* =============PORTFOLIO============== */

.project-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    top: 0;
    left: 0;
    padding-right: 24px;
    padding-left: 24px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-overlay-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-dark);
}

.card-link:hover .project-overlay,
.card-link:hover .project-overlay {
    transform: translateY(0);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.card-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover, 
.card-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-link-wrapper {
    overflow: hidden;
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.selector {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.cards-list {
    flex-basis: calc((100% - 120px)/3);
    margin-top: 30px;
    margin-left: 30px;
}

.portfolio-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #212121;
    background-color: #F5F4FA;
    border: 1px solid #F5F4FA;
    border-radius: 4px;
    padding: 6px 22px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
    border-color: var(--accent-color);
}

.selector-list:not(:last-child) {
    margin-right: 8px;
}

.projects-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}

.card-name-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.project-field {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}
 /* =============/PORTFOLIO============== */

 /* =============MODAL WINDOW============== */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #0000001A;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.modal-close-btn-icon {
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon {
    fill: var(--accent-color);
}

/* .modal-close-btn:hover {
    border-color: var(--accent-color);
} */

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
 /* =============/MODAL WINDOW============== */

 /* =============CONTACT FORM============== */
.modal-task-name {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form-input {
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
    border-color: var(--accent-color);
    outline: none;
}

.contact-form-field-name {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: #757575;
}

.comment-form-label {
    margin-bottom: 20px;
}

.comment-area {
    display: block;
    padding: 12px 16px;
    margin-top: 4px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-area:focus {
    border-color: var(--accent-color);
    outline: none;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .modal-icon {
    fill: var(--accent-color);
}

.input-wrapper {
    position: relative;
    margin-top: 4px;
    margin-bottom: 10px;
}

.comment-area::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 30px;
}

.user-policy-link {
    display: block;
    text-decoration-line: underline;
    color: var(--accent-color);
}

.checkbox-label::before {
    display: block;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    content: "";
    border: 2px solid #212121;
    border-radius: 2px;
    cursor: pointer;
    background-color: transparent;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .checkbox-label::before {
    background-color: var(--accent-color);  
    border-color: var(--accent-color);
    background-image: url('../images/icon-check.svg');
    background-position: center;
}

.checkbox-input:focus + .checkbox-label::before {
    outline: 2px solid var(--accent-color);
}

.checkbox-icon {
    position: absolute;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.contact-form-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
    cursor: pointer;
    margin: 0 auto;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    padding: 10px 55px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-btn:hover,
.contact-form-btn:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
 /* =============/CONTACT FORM============== */

